
#fourth-Section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    row-gap: 3.333333vw;          /* 4rem */
    height: fit-content;
    padding: 0 8.333333vw;        /* 0 10rem */
    padding-bottom: 8.333333vw;   /* 10rem */
    background-color: var(--darkestpurple);
    color: white;
    z-index: 2;
}

.statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16.666667vw;          /* 20rem */
    width: fit-content;           /* 20rem */
    margin: 0 2.5vw;              /* 3rem */
    white-space: nowrap;
}
.statistic h2, .statistic p{
    margin: 0;
}
.statistic svg{
    width: 10vw;                  /* 12rem */
    height: auto;
}


/*55555555555555555555555555555*/
#fifth-Section{
    position: relative;
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#fifth-Section::before{
    content: "";
    position: absolute;
    inset: -30px; /* px belassen */
    background-size: cover;
    background-image: url("https://static.igem.wiki/teams/5758/home/intro-bg.webp");
    filter: blur(10px); /* px belassen */
}

#content5{
    z-index: 1;
}
#content5 h1, #content5 h2{
    font-family: roboto-slab;
}
#content5 h1{
    margin: 0;
    font-size: 5vw;
}
#content5 h2{
    text-indent: 5ch;
    margin: 0;
    color: var(--lightpurple);
    font-size: 3vw;
}

#content5 p{
    text-align:justify;
    width: 51ch;
    font-size: 2vw;
}
#clamy1{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    margin-right: 1%;
    margin-top: 1%;
}
